.nav-header {
    position: fixed;
    width: 100%;
    min-height: 160px;
    right: 0;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    /* border: 2px solid red; */
}

.nav-hook-on {
    box-shadow: 0px 6px 7px 0px rgba(106, 106, 106, 0.59);
    min-height: 80px;
    transition: ease .80s;
}


.nav-hook-off {
    border-bottom: 0;
    min-height: 90px;
    transition: ease .80s;
}


.logo {

    width: 225px;
    height: 45px;
    transition: ease .80s;
    /* border: 2px solid red; */

}

.logo-small {
    width: 200px;
    height: 35px;
    transition: ease .80s;
    /* border: 2px solid red; */
}

.navlist {

    display: flex;
    /* border: 2px solid red; */
}

.navlist-li {
    position: relative;
    /* cursor: pointer; */


}

.navlist-a {
    font-family: var(--main-font);
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 10px 20px;

}

.navlist-a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--logo-color);
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}

.navlist-a:hover::after {
    width: 100%;
}

.nav-lang {
    margin-left: 40px;
    width: 100px;
    height: 30px;
    border: 1px solid #999;
    font-family: var(--main-font);
    color: var(--text-color);
    font-size: 1rem;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}


.menu-mobile-container {
    position: fixed;
    margin-top: 20px;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    /* background-color: #464655; */
    /* border: 2px solid red; */
    z-index: 1;
    opacity: 0;

}

.menu-mobile-container-open {
    animation: menu-mobile-anim-open 1s ease normal forwards;

}

@keyframes menu-mobile-anim-open {
    0% {
        clip-path: circle(100px at 100% -10%);
        /* -webkit-clip-path: circle(100px at 100% -10%); */
        opacity: 0;
    }

    100% {
        clip-path: circle(160% at 100% -10%);
        /* -webkit-clip-path: circle(160% at 100% -10%); */
        opacity: 1;

    }
}


.menu-mobile-container-close {
    animation: menu-mobile-anim-close 2s ease normal forwards;

}

@keyframes menu-mobile-anim-close {
    0% {
        clip-path: circle(160% at 100% -10%);
        /* -webkit-clip-path: circle(160% at 100% -10%); */
        opacity: 1;
    }

    100% {
        clip-path: circle(100px at 100% -10%);
        /* -webkit-clip-path: circle(100px at 100% -10%); */
        opacity: 0;

    }
}


.menu-mobile-box {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 7%;
    background-color: #575766;
    border-bottom: 2px solid #464655;
    cursor: pointer;
    /* transition: all 0.5s; */
}

.menu-mobile-box:hover {

    background-color: #555567;
    /* transition: ease-in-out 0.5s; */
}

.menu-mobile-a {
    font-family: var(--nunito-font);
    color: var(--bg-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.4s;
}

.menu-mobile-a:hover {
    font-size: 1.8rem;
    transition: ease-in-out 0.5s;
}

.menu-mobile-lang-box {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: #464655;
    border-bottom: 2px solid #575766;

}

.menu-mobile-lang-item {

    width: 130px;
    height: 40px;
    border: 1px solid #999;
    font-family: var(--main-font);
    text-align: center;
    text-transform: uppercase;
    color: var(--bg-color);
    font-size: 1.2rem;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}





/* 
@media screen and (max-width: 1280px) {
    #lang-icon {
        display: none;
    }
}

@media screen and (max-width: 1160px) {
    #menu-icon {
        display: block;
    }

    #lang-icon {
        display: none;
    }

    .navlist {
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #ef0454;
        text-align: right;
        transition: all .35s ease;
    }

    .navlist-a {
        display: block;
        padding: 1rem;
        margin: 1.2rem;
        border-right: 2px solid #fff;
    }

    .navlist-a:hover {
        background: #fff;
        color: #161616;
        border: none;
    }

    .navlist-a:after {
        display: none;
    }

    .navlist.active {
        top: 100%;
    }
}
 */