.about-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    width: 100%;
    height: 85vh;
    /* border: 2px solid green; */
}

.about-box {

    margin-top: 80px;
    margin-left: 200px;
    width: 35vw;
    height: 100%;
    /* border: 2px solid burlywood; */


}

.about-title {
    font-family: var(--sections-font);
    color: var(--text-color);
    font-size: 2.6rem;
    text-transform: uppercase;
    /* border: 2px solid green; */


}

.about-txt {
    background: var(--bg-color);
    font-size: 1.5rem;
    text-align: left;
    /* border: 2px solid red; */
}