* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}



:root {
  --main-font: 'Varela Round', sans-serif;
  --sections-font: 'IBM Plex Sans', sans-serif;
  --roboto-font: 'Roboto', sans-serif;
  --nunito-font: 'Nunito Sans', sans-serif;
  --bg-color: #EFF2F2;
  --secound-bg-color: #f9f9f9;
  --text-color: #161616;
  --text-sec-color: #ffffff;
  --red-color: #ef0454;
  --logo-color: #362d97;
  --grey-color: #6a6a6a;
  --blue-color: #004B82;
  --big-font: 5.7rem;
  --dark-grey: #85939E;
  --blue-bal: #7F9BC3;
  --dark-color: #253542;


}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

a {
  color: var(--blue-color);
}

.font-size-1 {
  font-size: 1rem;
}

.font-size-1-1 {
  font-size: 1.1rem;
}

.font-size-1-2 {
  font-size: 1.2rem;
}

.font-size-1-3 {
  font-size: 1.3rem;
}

.font-size-1-4 {
  font-size: 1.4rem;
}




.dark-primary-color {
  background: #455A64;
}

.default-primary-color {
  background: #607D8B;
}

.light-primary-color {
  background: #CFD8DC;
}

.text-primary-color {
  color: #FFFFFF;
}

.accent-color {
  background: #FF4081;
}

.primary-text-color {
  color: #212121;
}

.secondary-text-color {
  color: #757575;
}

.divider-color {
  border-color: #BDBDBD;
}